<div class="ui padded grid">
<div class="row" ng-show="vm.error">
    <div class="column">
        <div class="ui error message">
            <div class="header">Error...</div>
            <p>{{vm.error}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui form" ng-submit="vm.addStrategy()" ng-method="post">
                <h4 class="ui dividing header">Strategy Details</h4>
                <div class="three fields">
                                <div class="field">
                                    <label>Name</label>
                                    <input name="command" class="input ng-pristine ng-valid ng-touched" type="text" ng-model="vm.name" placeholder="Name">
                                </div>
                                <div class="field">
                                    <label>PluginName</label>
                                    <input type="text" name="pluginname" ng-model="vm.PluginName" placeholder="">
                                </div>
                                <div class="four field wide">
                                    <label>Status</label>
                                    <dropdown class="fluid" ng-model="vm.status">
                                    <dropdown-group>enable</dropdown-group>
                                    <dropdown-group>disable</dropdown-group>
                                    </dropdown>
                                </div>
                </div>
                <label>Document</label>
                <div class="field">
                    <textarea type="text" name="document" ng-model="vm.document" placeholder=""></textarea>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui green submit button">Add Strategy</div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            name: {
                identifier : 'name',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a name'
                }
                ]
            },
            addr: {
                identifier : 'addr',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter an address'
                }
                ]
            }
        });

    $('.ui.checkbox').checkbox();
});
</script>
